{% extends "templates/base.html" %}

{% block content %}
  <h1>Students</h1>
  <form action="/students/add" method="POST">
    <div class="row">
      <div class="col mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" aria-describedby="first_name_help">
        <div id="first_name_help" class="form-text"></div>
      </div>
      <div class="col mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Student</button>
  </form>

  <p>Total # Students: {{ num_students }}</p>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </thead>
    
    {% for pk, first_name, last_name in students %}
    <tr>
      <td>{{ pk }}</td>
      <td>{{ first_name }}</td>
      <td>{{ last_name }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
